
/* This file contains global styles that apply across the entire application, such as resets, 
    base typography, and any other general styling that should be consistent throughout */

// src/styles/_global.scss
@import 'variables';
@import 'variables-dark';
@import 'mixins';

body {
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-base;
    background-color: $background-color;
    color: $text-color-primary;

    &.dark-mode {
        background-color: $background-color-dark;
        color: $text-color-primary-dark;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $text-color-secondary;

    &.dark-mode {
        color: $text-color-secondary-dark;
    }
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: darken($primary-color, 10%);
    }

    &.dark-mode {
        color: $primary-color-dark;

        &:hover {
            color: lighten($primary-color-dark, 10%);
        }
    }
}
