
/*This file stores reusable SASS mixins, which are blocks of SASS code that can be reused throughout your styles. 
    Mixins can help reduce code duplication and make your SASS more maintainable.*/

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition($properties...) {
    transition: $properties 0.3s ease;
}
