
/*This file holds all your SASS variables, such as colors, fonts, spacing, etc. 
    By centralizing these values, you can easily change them in one place without having to update multiple files*/

$primary-color: #000501;
$secondary-color: #73AB84;
$background-color: #FFFFFF;
$text-color-primary: #000501;
$text-color-secondary: #73AB84;




$font-family-base: 'Roboto, Arial, sans-serif';
$font-size-base: 16px;


