
$primary-color-dark: #73AB84; // Medium green
$secondary-color-dark: #99D19C; // Light green
$background-color-dark: #000501; // Dark greenish-black
$text-color-primary-dark: #FFFFFF; // White
$text-color-secondary-dark: #ADE1E5; // Light cyan

$font-family-base: 'Roboto, Arial, sans-serif';
$font-size-base: 16px;
